<li>
  <%= link_to crawler_session.id, crawler_session %>
  <%= crawler_session.start_time %> | <%= crawler_session.end_time %>
  <%= link_to 'Edit', edit_crawler_session_path(crawler_session), class: "btn btn-success" %>
  <%= link_to 'delete', crawler_session, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-danger" %>
</li>
