<%= provide(:title, 'Crawler sessions') %>

<h1>Crawler Sessions</h1>

<%= link_to 'New Crawler session', new_crawler_session_path, class: "btn btn-primary" %>

<%= will_paginate %>

<ul class="listings">
  <%= render @crawler_sessions %>
</ul>

<%= will_paginate %>

<br>

<%= link_to 'New Crawler session', new_crawler_session_path, class: "btn btn-primary" %>
