<p id="notice"><%= notice %></p>

<table>
  <thead>
  <tr>
    <th><strong>Start time:</strong></th>
    <th>End time:</th>
  </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @crawler_session.start_time %></td>
        <td><%= @crawler_session.end_time %></td>
      </tr>
  </tbody>
</table>

<%= link_to 'Back', root_url, class: "btn btn-default" %>
<br />
<%= will_paginate @url_histories %>

<ul class="listings">
  <% @url_histories.each do |url_history| %>
    <%= render 'url_histories/url_history', { :url_history => url_history,
                                              :url_histories_prev => @url_histories_prev }%>
  <% end %>
</ul>

<br />

<%= will_paginate @url_histories %>

<br />

<%= link_to 'Back', root_url, class: "btn btn-default" %>
